
*.jpg
mbruh.txt
image_data.txt
hsv-color-rec1.py
hsv-color-rec1.py
hsv-color-rectest2.py
hsv-color-rec1.py
hsv-color-rec1.py
Target Printouts/.DS_Store
*.iml
.idea
.idea/inspectionProfiles/profiles_settings.xml
.idea/2023–24.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Cropped Targets/.DS_Store
.DS_Store
.DS_Store
.DS_Store
*.png
*.png
testPicturesA/Arec0.png
testPicturesA/Arec1.png
testPicturesA/Arec10.png
testPicturesA/Arec11.png
testPicturesA/Arec12.png
testPicturesA/Arec13.png
testPicturesA/Arec14.png
testPicturesA/Arec15.png
testPicturesA/Arec16.png
testPicturesA/Arec17.png
testPicturesA/Arec18.png
testPicturesA/Arec19.png
testPicturesA/Arec2.png
testPicturesA/Arec20.png
testPicturesA/Arec21.png
testPicturesA/Arec22.png
testPicturesA/Arec23.png
testPicturesA/Arec24.png
testPicturesA/Arec25.png
testPicturesA/Arec26.png
testPicturesA/Arec27.png
testPicturesA/Arec28.png
testPicturesA/Arec29.png
testPicturesA/Arec3.png
testPicturesA/Arec30.png
testPicturesA/Arec31.png
testPicturesA/Arec32.png
testPicturesA/Arec33.png
testPicturesA/Arec34.png
testPicturesA/Arec35.png
testPicturesA/Arec36.png
testPicturesA/Arec37.png
testPicturesA/Arec38.png
testPicturesA/Arec39.png
testPicturesA/Arec4.png
testPicturesA/Arec40.png
testPicturesA/Arec41.png
testPicturesA/Arec42.png
testPicturesA/Arec43.png
testPicturesA/Arec44.png
testPicturesA/Arec45.png
testPicturesA/Arec46.png
testPicturesA/Arec47.png
testPicturesA/Arec48.png
testPicturesA/Arec49.png
testPicturesA/Arec5.png
testPicturesA/Arec50.png
testPicturesA/Arec51.png
testPicturesA/Arec52.png
testPicturesA/Arec53.png
testPicturesA/Arec54.png
testPicturesA/Arec55.png
testPicturesA/Arec56.png
testPicturesA/Arec57.png
testPicturesA/Arec58.png
testPicturesA/Arec59.png
testPicturesA/Arec6.png
testPicturesA/Arec60.png
testPicturesA/Arec61.png
testPicturesA/Arec62.png
testPicturesA/Arec7.png
testPicturesA/Arec8.png
testPicturesA/Arec9.png
testPicturesA/Arec0.png
