
*.jpg
mbruh.txt
image_data.txt
hsv-color-rec1.py
hsv-color-rec1.py
hsv-color-rectest2.py
hsv-color-rec1.py
hsv-color-rec1.py
Target Printouts/.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/2023–24.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
